<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-navbar (toggleSidebar)="sidenav.toggle()"></app-navbar>
    <div class="content">
      <div *ngIf="task">
        <h2>{{ task.title }}</h2>
        <p>Description: {{ task.description }}</p>
        <p>Status: {{ task.status }}</p>
        <p>Type: {{ task.type }}</p>
        <p>Priority: {{ task.priority }}</p>
        <p>Timeline: {{ task.timeline.days }} days, {{ task.timeline.months }} months</p>
        <p>Assigned to:</p>
        <ul>
          <li *ngFor="let username of assignedUsernames">{{ username }}</li>
        </ul>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
