<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-navbar (toggleSidebar)="sidenav.toggle()"></app-navbar>
    <div class="content" *ngIf="task">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ task.title }}</mat-card-title>
          <mat-card-subtitle>
            <mat-chip-set>
              <mat-chip [style.background-color]="getStatusColor(task.status)" [matMenuTriggerFor]="statusMenu">
                {{ task.status }}
              </mat-chip>
              <mat-menu #statusMenu="matMenu">
              
                <button mat-menu-item (click)="updateTaskStatus('Not Started')">Not Started</button>
                <button mat-menu-item (click)="updateTaskStatus('In Progress')">In Progress</button>
                <button mat-menu-item (click)="updateTaskStatus('Stuck')">Stuck</button>
                <button mat-menu-item (click)="updateTaskStatus('Done')">Done</button>
              </mat-menu>
              <mat-chip [style.background-color]="getPriorityColor(task.priority)">{{ task.priority }}</mat-chip>
              <mat-chip>{{ task.type }}</mat-chip>
            </mat-chip-set>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ task.description }}</p>
          <p><strong>Timeline:</strong></p>
          <p>
            <mat-icon>calendar_today</mat-icon>
            Start: {{ formatDate(task.timeline.start) }} - End: {{ formatDate(task.timeline.end) }}
          </p>
          <p><strong>Assigned To:</strong> {{ getAssignedMemberNames() }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="editTask()" *ngIf="isProjectCreator">Edit Task</button>
          <button mat-raised-button color="warn" (click)="deleteTask()" *ngIf="isProjectCreator">Delete Task</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
