<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <a href="/dashboard"
    ><img src="assets/images/logo.png" alt="logo" class="h-12 w-auto ml-2"
  /></a>
  <span class="example-spacer"></span>

  <button mat-mini-fab [matMenuTriggerFor]="userMenu" class="user-menu-button">
    {{ userInitial }}
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
