<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-navbar (toggleSidebar)="sidenav.toggle()"></app-navbar>
    <div class="content">
      <button mat-button (click)="goBack()" class="back-button">
        <mat-icon>arrow_back</mat-icon> Back
      </button>

      <div *ngIf="project">
        <h2>{{ project.name }}</h2>
        <p>{{ project.description }}</p>
        <p>Created by: {{ getCreatorUsername() }}</p>
        <p>Created at: {{ project.createdAt | date }}</p>

        <button mat-raised-button color="primary" (click)="openEditProjectDialog()">
          Edit Project
        </button>
        <button mat-raised-button color="primary" (click)="openMembersDialog()">
          Members
        </button>
        <button mat-raised-button color="primary" (click)="openCreateTaskDialog()">
          Create Task
        </button>

        <h3>Tasks</h3>
        <app-kanban-board
          [tasks]="project.tasks"
          [projectId]="project._id"
          (taskMoved)="onTaskMoved($event)"
        >
        </app-kanban-board>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
