<h2 mat-dialog-title>Add Member to Project</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="form.get('username')?.hasError('required')"
        >Username is required</mat-error
      >
    </mat-form-field>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!form.valid"
    (click)="onSubmit()"
  >
    Add Member
  </button>
</mat-dialog-actions>
